@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

:root {
    --elegantbg: #393E46;
    --elegantabu: #222831;
    --elegantbiru: #00ADB5;
    --elegantbase: #EEEEEE;

    --ungugelap: #37306B;
    --ungusedang: #66347F;
    --ungumuda: #9E4784;
    --ungucream: #D27685;

    --hijaubg: #EDF1D6;
    --hijaumuda: #9DC08B;
    --hijausedang: #609966;
    --hijaugelap: #40513B;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
}

body {
    color: white;
    background-color: var(--elegantbg);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--elegantabu);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.header2 {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--elegantabu);
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.container{
    font-size: 2rem;
    font-weight: 700;
}

form input {
    padding: 0.6rem;
    border-radius: 5px 5px 5px 5px;
    width: 15rem;
}

form input {
    color: var(--elegantbiru);
}

form input::placeholder {
    color: var(--elegantbiru);
}

form button {
    display: none;
    padding: 0.6rem;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
}

form button i {
    color: var(--elegantbiru);
}

.menu {
    display: inline-block;
    font-size: 1rem;
    margin: 1rem 0;
}

.menu a i {
    font-size: large;
    color: white;
}

.menu a i:hover {
    color: var(--elegantbiru);
}

.menu a {
    margin: 0 1rem;
    cursor: pointer;
}

/*  */
.body {
    margin-top: 130px;
    display: flex;
    justify-content: center;
}

.bill-image {
    position: relative;
    width: 90%;
    padding: 5px;
    height: 20rem;
}

.bill-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.kategori {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.kategori a {
    color: white;
}

.jenis {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    width: 7rem;
    height: 3rem;
    padding: 5px 5px;
    background-color: var(--elegantbiru);
}

.jenis p {
    font-size: small;
    font-weight: 900;
}

.jenis:hover {
    box-shadow: 2px 2px 4px gray;
}

.box {
    margin-top: 20px;
}

.container-box a {

    color: white;
}

.container-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.image-grid {
    position: relative;
    height: 13rem;;
}

.image-grid img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.grid {
    border-radius: 5px;
    width: 13rem;
    height: 20rem;
    margin: 10px;
    background-color: var(--elegantbase);
}

.grid:hover {
    box-shadow: 2px 2px 4px gray;
}

.nama {
    height: 3.2rem;
    padding: 5px;
}

.nama p, .komentar p, .harga p {
    color: black;
}

.komentar {
    padding: 5px;
}

.harga {
    padding: 5px;
}


/*  */
@media (max-width: 768px) {
    .header {
        display: none;
    }
    .header2 {
        display: flex;
        padding: 0.4rem 1%;
    }
    .container{
        font-size: 1.5rem;
    }
    .image-grid {
        height: 11rem;
    }
    .grid {
        height: 18rem;
        width: 10rem;
    }
    .bill-image {
        width: 100%;
        height: 7rem;
    }
    form input {
        border-radius: 5px 0px 0px 5px;
    }
    form button {
        display:inline-block;
    }
    .nama {
        height: 3.8rem;
    }
    .komentar {
        padding: 0 5px;
    }
    .harga {
        padding: 0 5px;
    }
}

