@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

:root {
    --elegantbg: #393E46;
    --elegantabu: #222831;
    --elegantbiru: #00ADB5;
    --elegantbase: #EEEEEE;

    --ungugelap: #37306B;
    --ungusedang: #66347F;
    --ungumuda: #9E4784;
    --ungucream: #D27685;

    --hijaubg: #EDF1D6;
    --hijaumuda: #9DC08B;
    --hijausedang: #609966;
    --hijaugelap: #40513B;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
}

body {
    color: white;
    background-color: var(--elegantbg);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--elegantabu);
}

.container{
    font-size: 2rem;
    font-weight: 700;
}

.container a {
    color: white;
}

.menu {
    display: inline-block;
    font-size: 1rem;
    margin: 1rem 0;
}

.menu a i {
    font-size: large;
}

.menu a {
    margin: 0 1rem;
}

.akun {
    cursor: pointer;
    color: white;
}

.akun:hover {
    color: var(--elegantbiru);
}

/*  */
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15vh;
    margin: 10px;
}

.kotak {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 33rem;
    background-color: var(--elegantbase);
    box-shadow: 5px 5px 5px -5px black;
}

.kanan {
    margin-top: none;
    width: 40vh;
    align-items: center;
    padding: 5px;
}

.kanan p {
    color: black;
}

.kiri {
    width: 15vh;
    padding: 10px;
}

.kiri .gambar {
    position: relative;
    width: 12vh;
    border-radius: 5px;
    aspect-ratio: 1/1;
    border: solid var(--elegantbiru);
}

.kiri .gambar img {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hapus {
    padding: 20px;
}

.hapus a {
    color: var(--elegantbiru);
}

.hapus a i {
    font-size: 20px;
}

.hapus i {
    transition: font-size 0.2s;
}

.hapus i:hover {
    font-size: 27px;
}

.fa-trash::before {
    content: "\f1f8"; /* kode ikon Font Awesome */
  }
  
  .fa-trash:hover::before {
    content: "\f2ed"; /* kode ikon Font Awesome lainnya */
  }
  
  

/*  */
@media (max-width: 768px) {
    .container {
        font-size: 1.5rem;
    }
    .kotak {
        width: 20rem;
    }
}